<table class="table">
  <thead>
  <tr>
    <th scope="col">Артикул</th>
    <th scope="col">Название</th>
    <th scope="col">Цена</th>
    <th scope="col">Описание</th>
    <th scope="col">Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1317748</th>
    <td>Материнская плата GIGABYTE GA-AB350M-DS3H V2</td>
    <td>3890 руб</td>
    <td>чипсет: AMD B350, форм-фактор Micro-ATX</td>
    <td>
      <button class="btn btn-danger">Изменить</button>
      <button class="btn btn-danger">Удалить</button></td>
  </tr>
  </tbody>
</table>
