<table class="table">
  <thead>
  <tr>
    <th scope="col" class="vendor-code-column d-md-table-cell">Артикул</th>
    <th scope="col">Название</th>
    <th scope="col">Цена</th>
    <th scope="col" class="description-column d-md-table-cell">Описание</th>
    <th scope="col">Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row" class="vendor-code-column d-md-table-cell">1317748</th>
    <td>Материнская плата GIGABYTE GA-AB350M-DS3H V2</td>
    <td>3890 руб</td>
    <td class="description-column d-md-table-cell">чипсет: AMD B350, форм-фактор Micro-ATX</td>
    <td style="display: flex">
      <button class="btn btn-success">📝</button>
      <button class="btn btn-danger">🗑</button>
    </td>
  </tr>
  </tbody>
</table>
