<div class="container">
  <div class="row">
    <!--    <div class="">-->
    <!--      <span class="input-group-text" id="basic-addon1">@</span>-->
    <select name="" id="" class="input-group-prepend form-control search-select search-form-control col-md-3"
    [(ngModel)]="searchType">
      <option value="filter-by-name" selected>По названию</option>
      <option value="filter-by-vendor-code">По артикулу</option>
    </select>
    <!--    </div>-->
    <input type="text" class="form-control search-form-control search-input col-md-9" placeholder="Поиск по каталогу..."
           aria-label="Username" aria-describedby="basic-addon1"
    [(ngModel)]="searchString">
  </div>
  <button class="btn btn-info" (click)="addProduct()">Добавить</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col" class="sortable-property vendor-code-column d-md-table-cell"
        (click)="sortablePropertyTapped('vendor-code')"
        [class.active-down]="sortableProperties['vendor-code'] == 1"
        [class.active-up]="sortableProperties['vendor-code'] == -1">Артикул
    </th>
    <th scope="col" class="sortable-property"
        (click)="sortablePropertyTapped('name')"
        [class.active-down]="sortableProperties['name'] == 1"
        [class.active-up]="sortableProperties['name'] == -1">Название
    </th>
    <th scope="col" class="sortable-property"
        (click)="sortablePropertyTapped('price')"
        [class.active-down]="sortableProperties['price'] == 1"
        [class.active-up]="sortableProperties['price'] == -1">Цена
    </th>
    <th scope="col" class="description-column d-md-table-cell">Описание</th>
    <th scope="col">Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr class="product-cell-selector"
  *ngFor="let product of productService.products | productSort : this.activeSortProperty : getActiveSortDirection() | productFilter: searchString: searchType"
  [product]="product"
  (editEventEmitter)="editProduct($event)"
  (deleteEventEmitter)="deleteProduct($event)"></tr>
  </tbody>
</table>
<app-modal-edit *ngIf="this.editedProduct || this.isNewProduct" [product]="editedProduct" [isNewProduct]="this.isNewProduct"
(closeEmitter)="modalClosed()"></app-modal-edit>
