.search-select {
  /*width: 80px !important;*/
  background-color: #f5f5f5;
}

.search-form-control{
  flex: none;
}

.search-input {
  /*width: 100%;*/
}


.sortable-property {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}
/*.sortable-property::after {*/
/*  content: 'ᐧ';*/
/*}*/
.sortable-property.active-down::after {
  content: '↓';
}
.sortable-property.active-up::after {
  content: '↑';
}
