.vendor-code-column {
  display: none;
}
.description-column {
  display: none;
}
.search-select {
  /*width: 80px !important;*/
  background-color: #f5f5f5;
}

.search-form-control{
  flex: none;
}

.search-input {
  /*width: 100%;*/
}


.sortable-property {

}
.sortable-property.active-down::after {
  content: '↓';
}
.sortable-property.active-up::after {
  content: '↑';
}
