.modal {
  max-height: 94% !important;
  overflow-y: scroll;
}
.modal-shown {
  display: block !important;
}
.modal-dialog {
}
.modal-content {
}
.modal-dialog, .modal-content {
  max-height: 100%;
}
