
<!--header-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Kalachev1822</a>
  <button class="navbar-toggler" (click)="burgerButtonTapped()" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="showMobileNavbar" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/motherboards">Материнские платы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/cpu">Процессоры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/video-cards">Видеокарты</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
